<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Gestion de matelas anti escarres</title>
  {% block head %}
  <link rel="stylesheet" href="base.css">
  {% endblock %}
</head>

<body>

  <table id="container" align="center" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0; background-color:#eeeeee;"> 
    <tbody>
      <tr> 
        <td style="padding:0 20px;"> 
          <table width="700" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; text-align:left; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; line-height:15pt; color:#494949; margin:0 auto;"> 
            <tbody>
              <tr> 
                <td bgcolor="#2a8fbd" height="5" style="font-size:2px; line-height:0px;" valign="top"> 
                  <table width="700" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; line-height:0px;"> 
                    <tbody>
                      <tr> 
                        <td valign="top" height="5" width="5" style="font-size:2px; line-height:0px;">
                          <img alt="" height="5" src="cid:borderTopLeft" width="5" align="right" vspace="0" hspace="0" border="0" style="display:block;">
                        </td> 
                        <td valign="top" height="5" width="610" style="font-size:2px; line-height:0px;">

                        </td> 
                        <td valign="top" height="5" width="5" style="font-size:2px; line-height:0px;">
                          <img alt="" height="5" src="cid:borderTopRight" width="5" align="right" vspace="0" hspace="0" border="0" style="display:block;">
                        </td> 
                      </tr> 
                    </tbody>
                  </table> 
                </td> 
              </tr> 
              <tr> 
                <td bgcolor="#2a8fbd" style="padding:15px 20px 22px 20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15pt; color:#494949;"> 
                  <table width="580" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; text-align:left; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; line-height:15pt; color:#494949; margin:0 auto;"> 
                    <tbody>
                      <tr> 
                        <td width="50" valign="middle" style="padding:0 20px 0 0;"> 
                          <img alt="image" border="0" vspace="0" hspace="0" height="80" src="cid:logo" width="250"></td> 
                          <td valign="middle" style="padding:10px 0 0 0; color:#ffffff !important;"> 
                            <!--<div style="padding:0; font-family:Arial, Helvetica, sans-serif; font-size:32px; line-height:24pt; font-weight:bold; margin:0; display:block; color:#ffffff;">Hôpitaux du Pays du Mont Blanc</div> -->
                            <span style="padding:0; font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:26px; line-height:26pt; font-weight:lighter; margin:0; display:block;color:#ffffff; width:250px;">Gestion des Matelas Anti-Escarres</span> 
                          </td> 
                        </tr> 
                      </tbody>
                    </table> 
                  </td> 
                </tr> 
                <tr> 
                  <td bgcolor="#FFFFFF" style="text-align: justify; padding:15px 20px; font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:18pt;"> 
                   {% block body %}{% endblock %}
                 </td> 
               </tr> 
               <tr>
                <td bgcolor="#F4F4F4" height="5" style="font-size:2px; line-height:0px;" valign="bottom"> 
                  <table width="700" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; line-height:0px;"> 
                    <tbody>
                      <tr> 
                        <td valign="top" height="5" width="5" style="font-size:2px; line-height:0px;">
                          <img alt="" height="5" src="cid:borderBottomLeft" width="5" align="right" vspace="0" hspace="0" border="0" style="display:block;">
                        </td> 
                        <td valign="top" height="5" width="610" style="font-size:2px; line-height:0px;"></td> 
                        <td valign="top" height="5" width="5" style="font-size:2px; line-height:0px;">
                          <img alt="" height="5" src="cid:borderBottomRight" width="5" align="right" vspace="0" hspace="0" border="0" style="display:block;">
                        </td> 
                      </tr> 
                    </tbody>
                  </table>
                </td> 
              </tr> 
              <tr> 
                <td height="10" style="padding:0 0 10px 0; font-size:2px; line-height:2px;">
                  <img alt="" height="10" src="cid:shadow" width="700" border="0" style="display:block;">
                </td>
              </tr>
            </tbody>
          </table> 
          <table width="700" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; text-align:center; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; line-height:15pt; color:#494949; margin:0 auto;"> 
            <tbody>
              <tr>
               <td style="color:#494949; padding:0 20px 20px 20px; text-align:center;">Copyright © 2014 - 2015</td> 
             </tr> 
           </tbody>
         </table>
       </td>
     </tr>
   </tbody>
 </table>


</body>
</html>