{% extends 'base.html' %}

{% block body %}
<h2 style="padding:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:17pt; color:#39434d; font-weight:lighter; margin-top:0; margin-bottom:10px !important;">
	Bonjour,
</h2>
<p>
	Veuillez prendre en compte notre demande de reprise du matelas « N° {{loan}} » concernant la commande « N° MG0/{{cpage}} » du « {{date}} » pour  « {{civility}} {{patientName}} » - service de  « {{serviceName}} ».
</p>
{%if message %}
<p>
	<h3>Information suplémentaire</h3>
</p>
<p>
	<i>{{message}}</i>
</p>
{% endif %}

{% endblock %}